[ndbd default]
NoOfReplicas=2
DataMemory=80M
IndexMemory=18M
Diskless=true

[ndb_mgmd]
HostName=192.168.15.100
DataDir=/home/wxd/ndb_mgm
NodeId=1

[ndbd]
HostName=192.168.15.100
DataDir=/home/wxd/mysql-data
NodeId=2
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.100
DataDir=/home/wxd/mysql-data1
NodeId=3
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.101
DataDir=/home/wxd/mysql-data
NodeId=4
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.101
DataDir=/home/wxd/mysql-data1
NodeId=5
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.102
DataDir=/home/wxd/mysql-data
NodeId=6
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.102
DataDir=/home/wxd/mysql-data1
NodeId=7
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.103
DataDir=/home/wxd/mysql-data
NodeId=8
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.103
DataDir=/home/wxd/mysql-data1
NodeId=9
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.104
DataDir=/home/wxd/mysql-data
NodeId=10
TransactionDeadlockDetectionTimeout=120000

[ndbd]
HostName=192.168.15.104
DataDir=/home/wxd/mysql-data1
NodeId=11
TransactionDeadlockDetectionTimeout=120000


[mysqld]
HostName=192.168.15.104

[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
[mysqld]
 