[ndbd default]
NoOfReplicas=1
DataMemory=80M
IndexMemory=18M
Diskless=true

[ndb_mgmd]
HostName=192.168.15.100
DataDir=/home/wxd/ndb_mgm
NodeId=1

[ndbd]
HostName=192.168.15.101
DataDir=/home/wxd/mysql-data
NodeId=2
TransactionDeadlockDetectionTimeout=120000


[mysqld]
HostName=192.168.15.104

[mysqld]
[mysqld]
[mysqld]
 